In [1]:
import pandas as pd

data = pd.read_csv('../../../data/000016_6_8_m1.csv')
data

,taget,date,day,times,open,high,low,close,volume
0,202306010931,2023/06/01 09:31,2023/6/1,9:31,2487.76,2494.93,2487.76,2491.63,143942
1,202306010932,2023/06/01 09:32,2023/6/1,9:32,2491.79,2493.25,2490.96,2492.88,62464
2,202306010933,2023/06/01 09:33,2023/6/1,9:33,2492.78,2497.77,2492.78,2495.94,59204
3,202306010934,2023/06/01 09:34,2023/6/1,9:34,2496.29,2499.27,2496.29,2499.27,53532
4,202306010935,2023/06/01 09:35,2023/6/1,9:35,2499.35,2499.87,2496.87,2499.52,50619
...,...,...,...,...,...,...,...,...,...
15355,202308311456,2023/08/31 14:56,2023/8/31,14:56,2511.03,2511.86,2510.86,2511.51,32344
15356,202308311457,2023/08/31 14:57,2023/8/31,14:57,2511.56,2511.82,2510.76,2510.93,29468
15357,202308311458,2023/08/31 14:58,2023/8/31,14:58,2511.18,2511.36,2511.18,2511.22,1428
15358,202308311459,2023/08/31 14:59,2023/8/31,14:59,2511.22,2511.22,2511.22,2511.22,0
15359,202308311500,2023/08/31 15:00,2023/8/31,15:00,2510.93,2510.93,2510.46,2510.46,233304